@import "foundation";

.header-bg {
  background-image: url(https://s8.hostingkartinok.com/uploads/images/2017/08/c617f6e85329bda785826f7bd8af6037.jpg);
  background-repeat: no-repeat;
  height: 176px;
}

.paragraph-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.heading-content {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

.padding-content {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-bg {
  background-color: #f3f4fa;
}

.footer-text {
  font-size: 12px;
  color: #3f3f3f;
  margin-bottom: 8px;
  line-height: 1;
  &:last-child {
    margin-bottom: 16px;
  }
}

/*Ссылки*/
a {
  &.custom-link {
    text-decoration: underline;
  }
  &.unsubscribe-link {
    color: #777777;
  }
}

.no-padding {
  padding: 0;
}

/*Кнопки*/
table.survey-button  {
  table {
    td {
      text-align: center;
      color: white;
      background: #5856d6;
      border: 0px;

      a {
        font-weight: bold;
        color: white;
      }
    }
  }
}

/*callout*/
table.callout {
  width: auto!important;
  border: 3px solid #ffffff;
  border-collapse: separate;
}
th.callout-inner {
  line-height: 1;
  font-size: 40px;
  font-weight: bold;
  padding: 12px 32px!important;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
}