<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/client.css" inline>
</head>
<body>
<table class="body">
    <tr>
        <td>
            <center>
                <container class="header-bg">
                    <row class="collapse">
                        <columns large="12" valign="middle">
                            <center>
                                <img src="https://s8.hostingkartinok.com/uploads/images/2017/08/4b0b9e274c7befcc07de35c255eb87a1.png"
                                     alt="Summer 2016">
                            </center>
                        </columns>
                    </row>
                </container>

                <container>
                    <spacer size="20"></spacer>
                    <row class="collapse">
                        <columns>
                            <h5 class="padding-content">Thank you for installing Discount Wheel!</h5>
                            <p class="padding-content">Thank you for installing Discount Wheel by Assistantly on
                                <a href="assistantly.ecwid.com">assistantly.ecwid.com</a> and welcome on board!</p>
                            <p class="padding-content"> Hope you will enjoy using it and benefit from its features. Our app boost sales within
                                2-3 weeks of installing, and are excited to help your store grow.</p>
                            <p class="padding-content">Our service exports your orders in the last 7 days and boosts your sales right now!
                                If you have any questions, feel free to ask in the reply to this email.</p>
                        </columns>
                    </row>
                    <row class="collapse">
                        <columns>
                            <p class="padding-content">Best regards,<br><b>the Assistantly team</b></p>
                        </columns>
                    </row>
                </container>

                <container class="footer-bg">
                    <row class="collapse">
                        <columns valign="middle">
                            <center>
                                <p class="text-center">This email was sent with ♥ by © <b>Assistantly</b></p>
                                <p class="text-center">If you no longer want to receive any more messages from us, you
                                    can <a href="#">unsubscribe here</a>.</p>
                            </center>
                        </columns>
                    </row>
                </container>
            </center>
        </td>
    </tr>
</table>


</body>
</html>